body {
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  text-align: center;
  background-image: url("../Img/tetrisBackground2.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: black;
  margin-top: 20px;

}

canvas {
  /*border: 1px solid lightblue;*/
}

.jumbotron {
  text-align: center;
  font-family:arial,Helvetica,sans-serif;
  font-size: 20pt;
  /*background-image: url("../Img/tetrisLogo.jpg");*/
  background-image: url("../Img/tetrisBackground.jpg");
}

#button1 {
  background-color: black;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 12px;
}
#button2 {
  background-color: black;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 12px;
}

.gameBoard {
  background-color: black;

    width: 372px;
    height: 722px;
    margin-bottom: 0px;
    border: 10px solid red;
    float: none;

  }

  .lines {
      width: 300px;
      height: 100px;
      border: 3px solid red;
      margin: 2px;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ab0ed+34,bae5f2+97,e4f5fc+100 */
  background: rgb(42,176,237); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(42,176,237,1) 34%, rgba(186,229,242,1) 97%, rgba(228,245,252,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(42,176,237,1) 34%,rgba(186,229,242,1) 97%,rgba(228,245,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(42,176,237,1) 34%,rgba(186,229,242,1) 97%,rgba(228,245,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ab0ed', endColorstr='#e4f5fc',GradientType=0 ); /* IE6-9 */

    }

#rightColumn {
margin-left: 65px;

}
.scoreBoard {
    width: 300px;
    height: 100px;
    border: 3px solid red;
    margin-top: 10px;
    margin: 2px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ab0ed+34,bae5f2+97,e4f5fc+100 */
background: rgb(42,176,237); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(42,176,237,1) 34%, rgba(186,229,242,1) 97%, rgba(228,245,252,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(42,176,237,1) 34%,rgba(186,229,242,1) 97%,rgba(228,245,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(42,176,237,1) 34%,rgba(186,229,242,1) 97%,rgba(228,245,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ab0ed', endColorstr='#e4f5fc',GradientType=0 ); /* IE6-9 */

  }
  .nextPiece {
    width: 300px;
    height: 300px;
    border: 3px solid red;
    margin-top: 10px;
    margin: 2px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ab0ed+34,bae5f2+97,e4f5fc+100 */
background: rgb(42,176,237); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(42,176,237,1) 34%, rgba(186,229,242,1) 97%, rgba(228,245,252,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(42,176,237,1) 34%,rgba(186,229,242,1) 97%,rgba(228,245,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(42,176,237,1) 34%,rgba(186,229,242,1) 97%,rgba(228,245,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ab0ed', endColorstr='#e4f5fc',GradientType=0 ); /* IE6-9 */

  }

  .currentLevel {
    width: 300px;
    height: 150px;
    border: 3px solid red;
    margin-top: 10px;
    margin: 2px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ab0ed+34,bae5f2+97,e4f5fc+100 */
background: rgb(42,176,237); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(42,176,237,1) 34%, rgba(186,229,242,1) 97%, rgba(228,245,252,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(42,176,237,1) 34%,rgba(186,229,242,1) 97%,rgba(228,245,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(42,176,237,1) 34%,rgba(186,229,242,1) 97%,rgba(228,245,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ab0ed', endColorstr='#e4f5fc',GradientType=0 ); /* IE6-9 */

  }

  #graphicBox {
    width: 300px;
    height: 650px;
    border: 3px solid red;

  }

  .container {
    height: auto;
    max-width: 1500px;

  }
