body {
  font-family: "Courier New", Courier, monospace;
  font-size: 26px;
  text-align: center;

}

canvas {
  border: 1px solid lightblue;
  width: 380px;
  height: 710px;

}

.jumbotron {
  text-align: center;
  font-family:arial,Helvetica,sans-serif;
  font-size: 20pt;
  /*background-image: url("../Img/tetrisLogo.jpg");*/
  background-image: url("../Img/tetrisBackground.jpg");

}

#button1 {
  /*margin-left: 50px;
  margin-top: 12px;*/
  margin-bottom: 20px;
  font-size: 20px;
}
#button2 {
  /*margin-right:10px;
  margin-top: 12px;*/
  margin-bottom: 20px;
  font-size: 20px;
}

.gameBoard {
  background-color: black;

    width: 400px;
    height: 730px;
    margin-bottom: 0px;
    border: 10px solid #73AD21;
    float: none;

  }

  .lines {
      width: 300px;
      height: 100px;
      border: 3px solid #73AD21;
      margin: 2px;
    }

#rightColumn {
  float: right;


}
.scoreBoard {
    width: 300px;
    height: 100px;
    border: 3px solid #73AD21;
    margin: 2px;
  }
  .nextPiece {
    width: 300px;
    height: 300px;
    border: 3px solid #73AD21;
    margin: 2px;
  }

  .currentLevel {
    width: 300px;
    height: 300px;
    border: 3px solid #73AD21;
    margin: 2px;
  }

  .graphicBox {
    width: 300px;
    height: 750px;
    border: 3px solid #73AD21;

  }

  .container {
    height: 900px;
    width:auto;

  }
